      <div class="container">
<nav class ="blue darken-4">
    <div class="nav-wrapper">
    <a href="/" class="brand-logo">Fauxcago Fibune</a>
      <ul class="right hide-on-med-and-down">
        <li><a href ="/scrape" class="btn-large waves-effect waves-light red lighten" id ="scrape" >Get More News</a></li>         
        <li><a href ="/saved"class="btn-large waves-effect waves-light red lighten" >See Saved Articles</a></li>

      </ul>
    </div>
  </nav>
 <div id ="newsDiv">
<ul>
      {{#each articles}} {{#if saved}}
     <h3>{{this.title}}</h3>
    <p>{{this.subject}}</p>
    <a href="https://www.chicagotribune.com{{this.link}}"target="_blank">Read More</a><br>
     <button data-id="{{this._id}}"class ="delete">Delete</button>

      <div class="row">
    <div class="col s12" >
     
       
    <div class="row">
      <div class="row">
    
        </div>
        </div>
      </div>
    </form>
  
      </p>
        {{/if}} {{/each}}
      </ul>
     </div>
      </div>  