      <div class="container">
<nav>
    <div class="nav-wrapper">
      <ul class="right hide-on-med-and-down">
        <li><a class="waves-effect waves-light btn-large">Get More News</a></li>
      </ul>
    </div>
  </nav>
    <h2>THIS IS THE NEWS!</h2>
 <div id ="newsDiv">
<ul>
      {{#each articles}} {{#if saved}}
      <h3>Title</h3><p>{{this.title}} 
          <h3>Link</h3>
          <a href="https://www.chicagotribune.com{{this.link}}"target="_blank">Read</a>
     <h3>Summary:</h3><p>{{this.subject}}</p><button data-id="{{this._id}}"class ="saved">Delete</button>

     <h3>Comments:</h3> <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Textarea</label>
        </div>
      </div>
    </form>
  </div>
  
      </p>
        {{/if}} {{/each}}
      </ul>
     </div>
      </div>  