      <div class="container">
<nav class ="blue darken-4">
    <div class="nav-wrapper">
    <a href="/articles" class="brand-logo">Fauxcago Fibune</a>
      <ul class="right hide-on-med-and-down">
        <li><a class="btn-large waves-effect waves-light red lighten" id ="scrape" >Get More News</a></li>         
        <li><a href ="/saved"class="btn-large waves-effect waves-light red lighten" >See Saved Articles</a></li>

      </ul>
    </div>
  </nav>
 <div id ="newsDiv">
<ul>
      {{#each articles}} {{#if saved}}
      <h3>{{this.title}}</h3>
          <h3>Link</h3>
          <a href="https://www.chicagotribune.com{{this.link}}"target="_blank">Read</a>
     <h3>Summary:</h3><p>{{this.subject}}</p><button data-id="{{this._id}}"class ="saved">Delete</button>

     <h3>Comments:</h3> <div class="row">
   <form class="col s12"action="#">
      <div class="row">
       
    <div class="row">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label class ="text-blue darken-4"for="textarea1">Textarea</label>
            <div class="btn waves-effect waves-light red lighten"><span>Delete</span></div>
        </div>
        </div>
      </div>
    </form>
  
      </p>
        {{/if}} {{/each}}
      </ul>
     </div>
      </div>  